<%= provide(:titulo, 'Panel de control') %>

<div class="content-wrapper">
	<div class="row-fluid profile-header">	
		<div class="span10">
			<h2>Bienvenido al panel de control ¿Que vamos a hacer hoy?</h2>
		</div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="span4">
			<h3>Configurar la comunidad</h3><br /><br />
			<ul class="unstyled">
				<li><%= link_to 'Crear Unidades (viviendas)', 
								new_comunidad_unidad_path(current_comunidad) %></li>
				<li><%= link_to 'Manejar Tipos de unidad (casa, depto, parc.)', comunidad_tipounidads_path(current_comunidad) %></li>
				<li><%= link_to 'Crear Usuarios', new_comunidad_usuario_path(current_comunidad) %></li>
				<li><%= link_to 'Crear Cuentas (banco, caja chica, etc)', '#' %></li>
				<li><%= link_to 'Editar perfil de comunidad', edit_comunidad_path(current_comunidad) %></li>
			</ul>
		</div>
		<div class="span4">
			<h3>Registrar salidas de dinero</h3><br /><br />
			<ul class="unstyled">
				<li><%= link_to 'Nuevo egreso por gasto', '#' %></li>
			</ul>
		</div>
		<div class="span4">
			<h3>Registrar consumos de unidades</h3><br /><br />
			<ul class="unstyled">
				<li><%= link_to 'Ingresar lecturas de consumo', '#' %></li>
			</ul>
		</div>
	</div>
</div>