<%= form_for [@comunidad, @usuario], :html => { :class => "form-horizontal" }  do |f| %>
	<%= render 'shared/error_messages', object: f.object %>			
	<fieldset>

		<div class="control-group">
			<%= f.label :email, class: "control-label" %>
			<div class="controls">
				<%= f.email_field :email, class: "span6" %>
			</div>
		</div>
				
		<div class="control-group">
			<%= f.label :nombre, class: "control-label" %>
			<div class="controls">
				<%= f.text_field :nombre, class: "span6" %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label :twitter, class: "control-label" %>
			<div class="controls">
				<%= f.text_field :twitter, class: "span6" %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label :telefono, class: "control-label" %>
			<div class="controls">
				<%= f.text_field :telefono, class: "span6" %>
			</div>
		</div>

		<% if @usuario.email? %>
		<div class="control-group">
			<%= label_tag "Foto de perfil" %>
			<div class="controls">
				<%= gravatar_for @usuario, size: 100 %>
				<span>
					Cloudapolis utiliza Gravatar para la foto de perfil. 
					Este te permite utilizar la misma imagen en multiples
					sitios. <br><br>
					Si aun no tienes Gravatar por favor registrate haciendo click 
					<%= link_to 'aqui', 'https://es.gravatar.com/site/signup/' %>, 
					es gratis y solo te llevara un minuto<br><br>
					Necesitas inscribirte con la misma direccion de email (<%= @usuario.email %>) que 
					estas usando en este sitio.
				</span>
				
			</div>
		</div>
		<% end %>

		<div class="control-group">
			<%= f.label :lenguaje, class: 'control-label' %>
			<div class="controls">
				<%= f.select :lenguaje, [['Español', 'es'], ['Español (Chile)', 'es-CL'], ['English', 'en']], {} , {class: "span6"}  %>
			</div>
		</div>

		<% if current_user.administrador?(current_comunidad) or current_user.system_admin? %>
		<hr />
		
		<div class="control-group">
			<%= label_tag 'permisos', 'Permisos' %>
			<div class="controls">				
				<label class="checkbox">
					<%= #f.check_box :administrador 
					%> Administrador
				</label>
				<% if current_user.system_admin? %>
					<label class="checkbox">
						<%= f.check_box :system_admin %> System-Admin
					</label>
				<% end %>
			</div>
		</div>		 
		<% end %>

		<div id="password-controls">						
			<hr />
			<div class="control-group">
				<%= f.label :password, class: 'control-label' %>
				<div class="controls">
					<%= f.password_field :password, class: "span4" %>
				</div>
			</div>
		
			<div class="control-group">
				<%= f.label :password_confirmation, 'Confirmacion', class: 'control-label' %>
				<div class="controls">
					<%= f.password_field :password_confirmation, class: "span4" %>
				</div>
			</div>
		</div>

	</fieldset>
	
	<div class="form-actions">
		<%= f.submit "Guardar", :class => "btn btn-primary" %>&nbsp;o
		<%= link_to "Cancelar", :back %>
	</div>	
	
<% end %>