		<%= form_for [@comunidad, @usuario]  do |f| %>
			<%= render 'shared/error_messages', object: f.object %>			
			<fieldset>
				<%= f.label :email %>
				<%= f.email_field :email %>
	
				<%= f.label :nombre %>
				<%= f.text_field :nombre %>
				
				<% if current_user.administrador? %>
				<label class="checkbox">
					<%= f.check_box :administrador %>
					Es administrador?
				</label><br />
				<% end %>
					
				<%= f.label :password %>
				<%= f.password_field :password %>
	
				<%= f.label :password_confirmation, "Confirmacion" %>
				<%= f.password_field :password_confirmation %>
			</fieldset>
			<div class="form-actions">
				<%= f.submit "Enviar", :class => "btn btn-large btn-primary" %>
			</div>	
		<% end %>