<div class="menu-layout">
  <ul class="nav-list-m unstyled">
  	<li class="menu-spacer">
      <span>
        <i class="icono16">
            <%= image_tag("icons/fatcow_icons/16x16/user.png", :alt => "#{@usuario.nombre}") %></i>&nbsp;
        <%= link_to truncate(@usuario.nombre, :length => 25), @usuario %>
      </span>
    </li>
    <li class="menu-spacer">
      <span>
        <i class="icono16">
            <%= image_tag("icons/fatcow_icons/16x16/house.png", :alt => "Viviendas") %></i>&nbsp;
        <%= link_to 'Viviendas', unidades_autorizadas_usuario_path(@usuario) %>
        <small class="small-indicator">
    			<%= pluralize(@usuario.unidades_autorizadas.size, "unidad", "unidades") %>
    	</small>
      </span>
    </li>  
    <li class="menu-spacer">
      <span>
        <i class="icono16">
            <%= image_tag("icons/fatcow_icons/16x16/shield.png", :alt => "Permisos") %></i>&nbsp;
        <%= link_to 'Permisos', permisos_usuario_path(@usuario) %>
      </span>
    </li>  
  </ul>
</div>
