<div class="row-fluid profile-header">	
	<div class="span5 border-right">
		<table class="unstyled">
			<tr>
				<td class="align-top">
					<%= gravatar_for @usuario %>
				</td>
				<td class="align-top">
					<h1><%= @usuario.nombre %></h1>
					<% if @usuario.administrador? %>
						<span class="label">Administrador</span><br /><br />
					<% end %>

					<% if @current_user.administrador? %>
						<small class="small-indicator">
							<i class="icon-edit"></i> <%= link_to 'Editar', edit_usuario_path(@usuario) %>
							<i class="icon-trash"></i> <%= link_to 'Eliminar', @usuario, confirm: 'Estas seguro de eliminar?', :method => :delete %>
						</small>
					<% end %>
				</td>
			</tr>
		</table>
	</div>	
	<div class="span4">
		<ul class="unstyled">
			<li>								
				<strong>
					<i class="icono-email"></i>&nbsp;
					<%= @usuario.email %>
				</strong>
			</li>
			<li>
				<strong>
					<i class="icono-twitter"></i>&nbsp;
					<%= @usuario.twitter %>
				</strong>
			</li>	
			<li>
				<strong>
					<i class="icono-telefono"></i>&nbsp;
					<%= @usuario.telefono %>
				</strong>
			</li>
		</ul>
	</div>
	<div class="span3">
		<%= #render 'mapa' 
		%>		  
	</div>	
</div>