<div class="row-fluid profile-header">	
	<div class="span5 border-right">
		<table class="unstyled">
			<tr>
				<td class="align-top">
					<%= gravatar_for @usuario %><br />
				</td>
				<td class="align-top">
					<h1><%= @usuario.nombre %></h1>
					<% if @usuario.administrador?(@comunidad) %>
						<span class="label">Administrador</span><br />
					<% end %>
					<% if @current_user.administrador?(current_comunidad) or @current_user.system_admin? %>
						<small class="small-indicator"><%= link_to 'Editar', edit_usuario_path(@usuario) %>	</small>
					<% end %>	
				</td>
			</tr>
		</table>
	</div>	
	<div class="span4">
		<ul class="unstyled info-contacto">
			<li>								
				<i class="icono16">
            		<%= image_tag("icons/fatcow_icons/16x16/email.png", :alt => "Email") %>
            	</i>&nbsp;
				<%= @usuario.email %>
			</li>
			<li>
				<i class="icono16">
            		<%= image_tag("icons/fatcow_icons/16x16/twitter_1.png", :alt => "Twitter") %>
            	</i>&nbsp;
				<%= @usuario.twitter %>
			</li>	
			<li>
				<i class="icono16">
            		<%= image_tag("icons/fatcow_icons/16x16/phone.png", :alt => "Telefono") %>
            	</i>&nbsp;
				<%= @usuario.telefono %>
			</li>
		</ul>
	</div> 
	<div class="span3">  
	</div>	
</div>