<div class="row-fluid">
	<div class="span12">
		<strong>
			Ordenar las unidades por
			<%= sortable "identificador" %>, 
			<%= sortable "tipounidad_id", "Tipo" %>, 
			<%= sortable "participacion" %>, 
			<%= sortable "superficie" %>
		</strong>
	</div>
</div><br /><br />
<div class="row-fluid">
   		<%= #will_paginate 
   		%>
		<table class="table">
			<thead>
				<tr>
					<th>Vivienda</th>
					<th>Participacion</th>
					<th>Superficie</th>
					<% if current_user.administrador?(current_comunidad) or current_user.system_admin? %>
						<th></th>
					<% end %>
				</tr>				
			</thead>
			<% @unidads.each do |unidad| %>
					<tr>
						<td>
							<strong><%= link_to unidad.identificador, unidad %></strong>
							<% if !unidad.tipounidad.nil? %>
								<span class="label">
									<%= unidad.tipounidad.nombre %>
								</span>
							<% end %>
						</td>
						<td>
							<%= unidad.participacion %>%
						</td>
						<td>
							<%= unidad.superficie %>m2
						</td>
						<% if current_user.administrador?(current_comunidad) or current_user.system_admin? %>
							<td>
								<div class="btn-group">
								<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
							    	<i class="icon-cog"></i>
							    	<span class="caret"></span>
							  	</a>
							  	<ul class="dropdown-menu">
							    	<li>
							    		<%= link_to 'Desautorizar', @usuario.relacion_usuario_unidads.find_by_unidad_id(unidad.id), :method => :delete %>
							    	</li>
							  	</ul>
							</div>
							</td>
						<% end %>
					</tr>
			<% end %>
		</table>
		<%= #will_paginate 
		%>
</div>