<div class="row-fluid">
	<div class="span12">
		<strong>
			Ordenar las unidades por
			<%= sortable "identificador" %>, 
			<%= sortable "tipounidad_id", "Tipo" %>, 
			<%= sortable "participacion" %>, 
			<%= sortable "superficie" %>
		</strong>
	</div>
</div><br /><br />
<div class="row-fluid">
   		<%= #will_paginate 
   		%>
		<table class="table">
			<% @unidads.each do |unidad| %>
					<tr>
						<td>
							<strong><%= link_to unidad.identificador, unidad %></strong>
							<% if !unidad.tipounidad.nil? %>
								<span class="label label-info">
									<%= unidad.tipounidad.nombre %>
								</span>
							<% end %>
							<br/>
							<small class="small-indicator">
							<%= unidad.participacion %>% Participacion, 
							<%= unidad.superficie %>m2 Superficie
							</small>
						</td>
					</tr>
			<% end %>
		</table>
		<%= #will_paginate 
		%>
</div>