<!-- <div class="row-fluid">
	<div class="span6">
		<span><h3><%= @comunidad.usuarios.count %> <small>Usuarios</small> &nbsp;</h3></span>
		<span><h3><%= @comunidad.administradores.size %> <small>Administradores</small></h3></span>
	</div>	
</div><br /> -->
<div class="row-fluid">
	<div class="span12">
		<p>
			Ordenar usuarios por:
			<%= sortable "email" %>&nbsp;
			<%= sortable "nombre" %>
		</p>
	</div>
</div><br />
<div class="row-fluid">
	<div class="span12">
		<%= will_paginate %>
		<table class="table">
					
		<% @usuarios.each do |usuario| %>
			<tr>
				<td  style="width: 50px;">
					<%= gravatar_for usuario, size: 50 %>
				</td>
				<td>								
					<strong>
						<%= link_to usuario.nombre, usuario %>
					</strong>
					<% if usuario.administrador?(@comunidad) %>
						<span class="label">Administrador</span>
					<% end %>
					<br />
					<small class="small-indicator">
						<%= usuario.email %>, 
						<%= usuario.telefono %>, 
						<%= usuario.twitter %>
					</small>
				</td>
				<% if current_user.administrador?(current_comunidad) or current_user.system_admin? %>
					<td class="ar">
						<div class="btn-group">
						  <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
						    <i class="icon-cog"></i>
						    <span class="caret"></span>
						  </a>
						  <ul class="dropdown-menu">
						    <li>
						    	<%= link_to 'Editar', edit_usuario_path(usuario) %>
						    </li>
						    <li>
						    	<%= link_to 'Eliminar', usuario, confirm: 'Estas seguro de eliminar?', 	method: :delete %>
						    </li>
						  </ul>
						</div>
					</td>
				<% end %>	
			</tr>
		<% end %>
		<% if @usuarios.size == 0 %>
			<div class="alert alert-block fade in">
				<h4 class="alert-heading">No existen usuarios en <%= @comunidad.nombre %>!</h4>
				<p>No se muestra ningun usuario porque aun no han sido agregados</p>
				<% if current_user.administrador?(current_comunidad) or current_user.system_admin? %>
					<p>Puedes agregar un nuevo usuario ahora...
						<%= link_to(new_comunidad_usuario_path(@comunidad), class: 'btn btn-primary') do %>
			  				<i class="icon-plus-sign icon-white"></i> Nuevo usuario
						<% end %>
					</p>
				<% end %>
			</div>
		<% end %>
		
		</table>
		<%= will_paginate %>
	</div>
</div>