<% provide(:titulo, 'Usuarios') %>
<div class="row-fluid">
	<div class="span2">
		<%= #render 'menu_usuarios' 
		%>
		<%= render 'comunidads/menu_comunidad' %>
	</div>
	<div class="span10">
		<div class="content-wrapper">
			<!-- informacion del perfil -->
			<%= render 'usuarios_header' %>
			<div class="row-fluid">
				<!-- columna de contenidos -->
				<div class="span9">
					<%= render 'usuarios' %>
				</div>
				<!-- columna de modulos right -->
				<div class="span3 right-module-col">
					<%= render 'module_col' %>
				</div>
			</div>		
		</div>
	</div>
</div>