<% provide(:titulo, 'Usuarios') %>
<div class="page-header">
	<h1>Usuarios <small><%= @comunidad.nombre %></small></h1>	
</div>
	
<div class="container-fluid">
	
	<div class="row-fluid">
		<div class="span3">
			<p>Ordenar por:</p>
			<ul class="nav nav-pills">
				<li class="active"><%= sortable "email" %></li>
				<li><%= sortable "nombre" %></li>
				<li><%= sortable "administrador" %></li>
			</ul>
		</div>
		<div class="span1">
			<h2><%= @comunidad.usuarios.count %><br /><small>Usuarios</small></h2>
		</div>
		<div class="span1">
			<h2><%= @comunidad.usuarios.where(administrador: true).count %><br /><small>Administradores</small></h2>
		</div>		
	</div>

	<div class="row">
		<%= will_paginate %>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Email</th>
				<th>Nombre</th>
				<th>Admin?</th>
				<% if current_user.administrador? %><th></th><% end %>
			</tr>
		<% @usuarios.each do |usuario| %>
			<tr>
				<td><%= link_to usuario.email, usuario %></td>
				<td><%= usuario.nombre %></td>
				<% if usuario.administrador?  %>
					<td><i class="icon-ok"></i></td>
				<% else %>
					<td></td>
				<% end %>
				<% if current_user.administrador? %>
				<td class="ar">
					<small>
					<%= link_to 'Mostrar', usuario %> |
					<%= link_to 'Editar', edit_usuario_path(usuario) %> |
					<%= link_to 'Eliminar', usuario, confirm: 'Estas seguro de eliminar?', :method => :delete %>
					</small>
				</td>
				<% end %>	
			</tr>
		<% end %>
		</table>
		<%= will_paginate %>
	</div>
	
	<div class="row">
		<% if current_user.administrador? %>
		<%= link_to 'Nuevo usuario', new_comunidad_usuario_path(@comunidad), :class => 'btn btn-primary btn-large' %>
		<% end %>
	</div>	
</div>
