<% provide(:titulo, @usuario.email) %>
<div class="row-fluid">
	<div class="span2">
		<%= render 'menu_usuario' %><br />
		<%= render 'menu_usuarios' %>
	</div>	
	<div class="span10">
		<div class="content-wrapper">
			<div class="page-header">
				<h1><%= @usuario.nombre %> <% if @usuario.administrador? %>
						<span class="label label-info">Administrador</span><% end %></h1>
			</div>
			<div class="row">
				<div class="span10">
					<h1><small><%= @usuario.email %></small></h1>	
				</div>
			</div><br />
			<div class="row">
					<div class="span10">
						<%= render 'unidades_autorizadas' %>
					</div>
				</div><br />
			<div class="row">
				<div class="span10">
					<% if current_user.administrador? %>
						<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
						<%= link_to 'Eliminar', @usuario, confirm: 'Estas seguro de eliminar?', :method => :delete %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>