<% provide(:titulo, @usuario.email) %>
<div class="page-header">
	<h1>Usuarios <small><%= @comunidad.nombre %></small></h1>	
</div>
	
<div class="row-fluid">
	<div class="span10">
		<h1><%= @usuario.nombre %> <% if @usuario.administrador? %><span class="label label-info">Administrador</span><% end %></h1>
		<h1><small><%= @usuario.email %></small></h1>		
	</div>
</div>
<br />
<div class="row-fluid">
	<div class="span12">
		<% if current_user.administrador? %>
			<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
			<%= link_to 'Eliminar', @usuario, confirm: 'Estas seguro de eliminar?', :method => :delete %> |
		<% end %>
			<%= link_to 'Ver usuarios', comunidad_usuarios_path(@comunidad) %>
	</div>
</div>

