<div class="row-fluid">
	<div class="span2"></div>
	<div class="span3">
		<%= form_for([@comunidad, @unidad]) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<fieldset>
				<%= f.label :identificador %>
				<%= f.text_field :identificador %>
				
				<%= f.label :participacion %>
				<%= f.number_field :participacion, :step => "0.0001", :min => 0 %>
				
				<%= f.label :superficie %>
				<%= f.number_field :superficie, :step => "0.01" %>
			</fieldset>
			<div class="form-actions">
				<%= f.submit "Enviar", :class => "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
</div>