<div>
  <ul class="nav-list-m unstyled">
  	<li class="menu-spacer">
      <span>
        <i class="icono16">
            <%= image_tag("icons/fatcow_icons/16x16/house_go.png", :alt => "#{@unidad.identificador}") %></i>&nbsp;
        <%= link_to @unidad.identificador, @unidad %>
      </span>
    </li>
    <li class="menu-spacer">
      <span>
        <i class="icono16">
            <%= image_tag("icons/fatcow_icons/16x16/house_link.png", :alt => "Viviendas vinculadas") %></i>&nbsp;
        <%= link_to 'Vinculos', vinculadas_unidad_path(@unidad) %>
        <small id="vinculos_stats" class="small-indicator">
    			<%= pluralize(@unidad.vinculadas.size, "unidad", "unidades") %>
    	</small>
      </span>
    </li>    
    <li class="menu-spacer">
      <span>
        <i class="icono16">
            <%= image_tag("icons/fatcow_icons/16x16/user_go.png", :alt => "Usuarios autorizados") %></i>&nbsp;
        <%= link_to 'Usuarios', usuarios_autorizados_unidad_path(@unidad) %>
        <small id="usuarios_autorizados_stats" class="small-indicator">
    			<%= pluralize(@unidad.usuarios_autorizados.count, "autorizado", "autorizados") %>
    	</small>
      </span>
    </li>
  </ul>
</div>
