<ul class="nav-list unstyled">
	<li class="nav-header">Perfil Unidad</li>
	<li><%= link_to @unidad.identificador, @unidad %></li>
	<li><%= link_to 'Usuarios autorizados', '#' %></li>
	<li><%= link_to 'Unidades relacionadas', '#' %> </li>
	<li><%= link_to 'Reclamos', '#' %> </li>
	<li><%= link_to 'Reservas', '#' %> </li>
	<li><%= link_to 'Foros y Debates', '#' %> </li>
	<li><%= link_to 'Avisos', '#' %> </li>
</ul>