<div class="modal hide" id="modalVincularUnidades">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
    	<h3>Vincular Unidades o Viviendas</h3>
    	<div class="clear"></div>
 	</div>
 	<div class="modal-body">
 		<table class="table">
 			<thead>
				<tr>
					<th>Unidad</th>
					<th>Participacion</th>
					<th>Superficie</th>
					<th></th>
				</tr>
			</thead>
			<% @comunidad.unidads.each do |unidad| %>

				<% unless @unidad==unidad or @unidad.vinculada?(unidad) or unidad.principal? or unidad.has_principal? %>
					<tr>
						<td>
							<%= unidad.identificador %> 
							<% if !unidad.tipounidad.nil? %>
								<span class="label">
									<%= unidad.tipounidad.nombre %>
								</span>
							<% end %>
						</td>
						<td><%= unidad.participacion %>%</td>
						<td><%= unidad.superficie %>m2</td>
						<td>
							<%= render 'vincular', unidad: unidad %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</table>
 	</div>
 	<div class="modal-footer">
    	<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
  	</div>
</div>