<div class="profile-content">
	<div class="row-fluid">	
		<div class="span5 profile-info">
			<table class="unstyled">
				<tr>
					<td class="align-top">
						<h1><%= @unidad.identificador %></h1>
						<% if !@unidad.tipounidad.nil? %>
							<span class="label"><%= @unidad.tipounidad.nombre %></span><br />
						<% end %>

						<% if @current_user.administrador?(current_comunidad) %>
						<br />
							<small class="small-indicator">
								<%= link_to 'Editar', edit_unidad_path(@unidad) %>
							</small>
						<% end %>
					</td>
				</tr>
			</table>
		</div>	
		<div class="span4 profile-info-contacto">
			<ul class="unstyled">
				<li><p>								
					<strong>
						<%= @unidad.participacion %>%
						<small class="small-indicator">Participacion</small>
					</strong></p>
				</li>
				<li><p>
					<strong>
						<%= @unidad.superficie %>m2
						<small class="small-indicator">Superficie</small>
					</strong></p>
				</li>	
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>