<div class="row-fluid">
	<div class="span12">
		<span><h3><%= @comunidad.unidads.count %> <small>Unidades</small> &nbsp;</h3></span>
		<span><h3><%= @comunidad.tipounidads.count %> <small>Tipos</small> &nbsp;</h3></span>
		<span><h3><%= @comunidad.unidads.sum("participacion") %>% <small>Participacion</small> &nbsp;</h3></span>
	</div>	
</div><br />
<div class="row-fluid">
	<div class="span12">
		<strong>
			Ordenar las unidades por
			<%= sortable "identificador" %>,
			<%= sortable "participacion" %>,
			<%= sortable "tipounidad_id", "Tipo" %>
		</strong>
	</div>
</div><br />
<div class="row-fluid">
	<div class="span12">		
		<%= will_paginate %>
			<table class="table">
				<thead>
					<tr>
						<th>Vivienda</th>
						<th>Participacion</th>
						<th>Superficie</th>
						<th>Usuarios</th>
						<th>Vinculos</th>
						<th></th>
					</tr>
				</thead>
				
				<% @unidads.each do |unidad| %>
				<tr>
					<td>
						<strong>
							<%= link_to unidad.identificador, unidad %>
						</strong> 
						<% if !unidad.tipounidad.nil? %>
							<span class="label">
								<%= unidad.tipounidad.nombre %>
							</span>
						<% end %><br />
					</td>
					<td>
						<%= unidad.participacion %>%
					</td>
					<td>
						<%= unidad.superficie %>m2
					</td>
					<td>
						<%= link_to pluralize(unidad.usuarios_autorizados.count, 'persona', 'personas'), usuarios_autorizados_unidad_path(unidad) %>
					</td>
					<td>
						<%= link_to pluralize(unidad.vinculadas.count, 'unidad', 'unidades'), vinculadas_unidad_path(unidad) %>
					</td>
					<% if current_user.administrador?(current_comunidad) or current_user.system_admin? %>
						<td class="ar">
							<div class="btn-group">
								<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
							    	<i class="icon-cog"></i>
							    	<span class="caret"></span>
							  	</a>
							  	<ul class="dropdown-menu">
							    	<li>
							    		<%= link_to 'Editar', edit_unidad_path(unidad) %>
							    	</li>
							    	<li>
							    		<%= link_to 'Eliminar', unidad, confirm: 'Estas seguro de eliminar?', :method => :delete %>
							    	</li>
							  	</ul>
							</div>
						</td>	
					<% end %>
				</tr>
				<% end %>
			</table>
		<%= will_paginate %>
	</div>
</div>