<div class="row-fluid">
	<div class="span12">
		<strong>
			Ordenar las unidades por
			<%= sortable "nombre" %>, 
			<%= sortable "email" %>
		</strong>
	</div>
</div><br /><br />
<div class="row-fluid">
   		
		<table class="table">

			<% @usuarios.each do |usuario| %>		
					<tr>
						<td>
							<strong><%= link_to usuario.nombre, usuario %></strong>
							<% if usuario.administrador? %>
								<span class="label label-info">
									Administrador
								</span>
							<% end %>
							<br/>
							<small class="small-indicator">
							<%= usuario.email %>, 
							<%= usuario.telefono %>, 
							<%= usuario.twitter %>
							</small>
						</td>
						<td>
							<%= render 'autorizar_usuario_form', usuario: usuario %>
						</td>
					</tr>
			<% end %>
		</table>
		
</div>