<div class="row-fluid">
	<div class="span12">
		<p>
			Ordenar usuarios por:
			<%= sortable "nombre" %>&nbsp;
			<%= sortable "email" %>
		</p>
	</div>
</div><br /><br />
<div class="row-fluid">
   		
		<table class="table">

			<% @usuarios.each do |usuario| %>		
					<tr>
						<td>
							<strong><%= link_to usuario.nombre, usuario %></strong>
							<% if usuario.administrador?(@comunidad) %>
								<span class="label">
									Administrador
								</span>
							<% end %>
							<br/>
							<small class="small-indicator">
							<%= usuario.email %>, 
							<%= usuario.telefono %>, 
							<%= usuario.twitter %>
							</small>
						</td>
						<td>
							<% if current_user.administrador?(current_comunidad) or current_user.system_admin? %>
							<div class="btn-group">
								<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
							    	<i class="icon-cog"></i>
							    	<span class="caret"></span>
							  	</a>
							  	<ul class="dropdown-menu">
							    	<li>
							    		<%= link_to 'Desautorizar', @unidad.relacion_usuario_unidads.find_by_usuario_id(usuario.id), :method => :delete %>
							    	</li>
							  	</ul>
							</div>
							<% end %>
						</td>
					</tr>
			<% end %>
		</table>
		
</div>