<div class="row-fluid">
	<div class="span12">
		<strong>
			Ordenar las unidades por
			<%= sortable "identificador" %>, 
			<%= sortable "tipounidad_id", "Tipo" %>, 
			<%= sortable "participacion" %>, 
			<%= sortable "superficie" %>
		</strong>
	</div>
</div><br /><br />
<div class="row-fluid">
   		<%= will_paginate %>
		<table class="table">

			<% @unidads.each do |unidad| %>

				<% unless unidad == @unidad %>
					<tr>
						<td>
							<strong><%= link_to unidad.identificador, unidad %></strong>
							<% if !unidad.tipounidad.nil? %>
								<span class="label label-info">
									<%= unidad.tipounidad.nombre %>
								</span>
							<% end %>
							<br/>
							<small class="small-indicator">
							<%= unidad.participacion %>% Participacion, 
							<%= unidad.superficie %>m2 Superficie
							</small>
						</td>
						<td>
							<% if current_user.administrador? %>
								<% if unidad.principal? %>
									<span class="label">Tiene vinculos</span>
								<% elsif unidad.has_principal? and !@unidad.vinculada?(unidad) %>
									<span class="label">Vinculada a otra</span>
								<% else  %>
									<%= render 'vincular_form', unidad: unidad %>
								<% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</table>
		<%= will_paginate %>
</div>