<% provide(:titulo, 'Unidades') %>
<h2>Unidades <small><%= @comunidad.nombre %></small></h2>
<table class="table table-bordered table-striped">
	<tr>
		<th>Identificador</th>
		<th>% Participacion</th>
		<th></th>
	</tr>
<% @unidads.each do |unidad| %>
	<tr>
		<td><%= link_to unidad.identificador, comunidad_unidad_path(@comunidad, unidad) %></td>
		<td><%= unidad.participacion %></td>
		<td class="ar">
			<small>
			<%= link_to 'Mostrar', comunidad_unidad_path(@comunidad, unidad) %> |
			<%= link_to 'Editar', edit_comunidad_unidad_path(@comunidad, unidad) %> |
			<%= link_to 'Eliminar', [@comunidad,unidad], confirm: 'Estas seguro de eliminar?', :method => :delete %>
			</small>
		</td>	
	</tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva unidad', new_comunidad_unidad_path(@comunidad), :class => 'btn btn-primary btn-large' %>
