<% provide(:titulo, 'Unidades') %>
<div class="page-header">
	<h1>Unidades <small><%= @comunidad.nombre %></small></h1>	
</div>
	
	<div class="well">
		<div class="row-fluid">
			<div class="span3">
				<h6>Ordenado por:</h6><br />
				<ul class="nav nav-pills">
					<li <% if current_sort?('identificador') or current_sort.nil? %> class="active" <% end %> ><%= sortable "identificador" %></li>
					<li <% if current_sort?('participacion') %> class="active" <% end %> ><%= sortable "participacion" %></li>
				</ul>
			</div>
			
			<div class="span1 center">
				<h2><%= @comunidad.unidads.count %><br /><small>Unidades</small></h2>
			</div>
			<div class="span1 center">
				<h2>2<br /><small>Tipos</small></h2>
			</div>
			<div class="span1 center">
				<h2><%= @comunidad.unidads.sum("participacion") %>%<br /><small>Participacion</small></h2>
			</div>		
		</div>
	</div>
	<div class="row-fluid">
		<%= will_paginate %>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Identificador</th>
				<th>% Participacion</th>
				<th>Superficie m2</th>
				<% if current_user.administrador? %>
				<th></th>
				<% end %>
			</tr>
		<% @unidads.each do |unidad| %>
			<tr>
				<td><%= link_to unidad.identificador, unidad %></td>
				<td><%= unidad.participacion %></td>
				<td><%= unidad.superficie %></td>
				<% if current_user.administrador? %>
				<td class="ar">
					<small>
					<%= link_to 'Mostrar', unidad %> |
					<%= link_to 'Editar', edit_unidad_path(unidad) %> |
					<%= link_to 'Eliminar', unidad, confirm: 'Estas seguro de eliminar?', :method => :delete %>
					</small>
				</td>	
				<% end %>
			</tr>
		<% end %>
		</table>
		<%= will_paginate %>
	</div>
	<% if current_user.administrador? %>
	<div class="row-fluid">
		<%= link_to 'Tipos de unidad', comunidad_tipounidads_path(@comunidad), :class => 'btn btn-large' %>
		<%= link_to 'Nueva unidad', new_comunidad_unidad_path(@comunidad), :class => 'btn btn-primary btn-large' %>
	</div>	
	<% end %>

