<% provide(:titulo, 'Unidades') %>
<div class="page-header">
	<h1>Unidades <small><%= @comunidad.nombre %></small></h1>	
</div>
<div class="container-fluid">
	
	<div class="row">
		<div class="span2 offset5">
			<h2><%= @comunidad.unidads.count %><br /><small>Unidades</small></h2>
		</div>
		<div class="span2">
			<h2>2<br /><small>Tipos</small></h2>
		</div>
		<div class="span2">
			<h2><%= @comunidad.unidads.sum("participacion") %> %<br /><small>Participacion</small></h2>
		</div>		
	</div>
	
	<div class="row">
		<%= will_paginate %>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Identificador</th>
				<th>% Participacion</th>
				<th></th>
			</tr>
		<% @unidads.each do |unidad| %>
			<tr>
				<td><%= link_to unidad.identificador, unidad %></td>
				<td><%= unidad.participacion %></td>
				<td class="ar">
					<small>
					<%= link_to 'Mostrar', unidad %> |
					<%= link_to 'Editar', edit_unidad_path(unidad) %> |
					<%= link_to 'Eliminar', unidad, confirm: 'Estas seguro de eliminar?', :method => :delete %>
					</small>
				</td>	
			</tr>
		<% end %>
		</table>
		<%= will_paginate %>
	</div>
	
	<div class="row">
		<%= link_to 'Nueva unidad', new_comunidad_unidad_path(@comunidad), :class => 'btn btn-primary btn-large' %>
	</div>	
</div>
