<% provide(:titulo, @unidad.identificador) %>
	<div class="row-fluid">
		<div class="span2">
			<%= render 'menu_unidad' %><br />
			<%= render 'menu_unidads' %>
		</div>
		<div class="span10">
			<div class="content-wrapper">
				<div class="page-header">
					<h1><%= @unidad.identificador %></h1>	
				</div>
				<div class="row">
					<div class="span2">
						<p>Participacion<br />
							<strong>
							<%= @unidad.participacion %>%
							</strong>
						</p>
					</div>
					<div class="span2">
						<p>Superficie<br />
							<strong>
								<%= @unidad.superficie %> m2
							</strong>
						</p>
					</div>
					<div class="span2">
						<p>Tipo<br />
							<% if !@unidad.tipounidad.nil? %><span class="label label-info"><%= @unidad.tipounidad.nombre %></span><% end %>
						</p>
					</div>
					<div class="span2">
						<p>Unidades relacionadas:</p>
						<ul class="unstyled">
							<% @unidad.unidadrelacionadas.each do |unidadrelacionada| %>
								<li>
									<%= link_to unidadrelacionada.identificador, unidadrelacionada %>
									<% if !unidadrelacionada.tipounidad.nil? %><span class="label"><%= unidadrelacionada.tipounidad.nombre %></span><% end %>
								</li>
							<% end %>
						</ul>
						<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Launch demo modal</a>
					</div>
				</div><br />
				
				<div class="row">
					<div class="span10">
						<% if current_user.administrador? %>
							<%= link_to 'Editar', edit_unidad_path(@unidad) %> |
							<%= link_to 'Eliminar', @unidad, confirm: 'Estas seguro de eliminar?', :method => :delete %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
