<% provide(:titulo, @unidad.identificador) %>
<div class="page-header">
	<h1>Unidades <small><%= @comunidad.nombre %></small></h1>
</div>
<div class="row-fluid">
	<div class="span10">
		<h1><%= @unidad.identificador %> <% if !@unidad.tipounidad.nil? %><span class="label label-info"><%= @unidad.tipounidad.nombre %></span><% end %></h1>
		<h1><small>Participacion <%= @unidad.participacion %>%</small></h1>
		<p>Superficie <%= @unidad.superficie %> m2</p>
	</div>
</div>
<br />
<div class="row-fluid">
	<div class="span12">
		<% if current_user.administrador? %>
			<%= link_to 'Editar', edit_unidad_path(@unidad) %> |
			<%= link_to 'Eliminar', @unidad, confirm: 'Estas seguro de eliminar?', :method => :delete %> |
		<% end %>
			<%= link_to 'Ver unidades', comunidad_unidads_path(@comunidad) %>
	</div>
</div>
		