<div class="span12">
	<div class="module-header">
		<h3>Informacion del administrador</h3>
	</div>
	<table class="unstyled" id="tabla-usuarios-admin">
		<% @comunidad.administradores.limit(2).each do |admin| %>
		<tr>
			<td>
				<%= gravatar_for admin.usuario, size: 35 %>
			</td>
			<td>
				<strong>
					<%= link_to admin.usuario.nombre, admin.usuario %>
				</strong><br />
				<%= admin.usuario.email %><br/>
				<small class="small-indicator">
					<%= admin.usuario.telefono %><br />
					<%= admin.usuario.twitter %>
				</small><br />
			</td>
		</tr>
		<% end %>
	</table>
</div>