<div>
	<table class="unstyled" id="tabla-usuarios-admin">
		<% @comunidad.administradores.limit(2).each do |admin| %>
		<tr>
			<td>
				<%= gravatar_for admin.usuario, size: 45 %>
			</td>
			<td>
				<%= link_to admin.usuario.nombre, admin.usuario %>
				<br />
				<%= link_to admin.usuario.email, 'mailto:'+admin.usuario.email %><br/>
				<small class="small-indicator">
					<%= admin.usuario.telefono %>&nbsp;
					<%= admin.usuario.twitter %>
				</small><br />
			</td>
		</tr>
		<% end %>
	</table>
</div>