<div class="row-fluid">
	<div class="span12">
		<p>
			Ordenar comunidades por:
			<%= sortable "nombre" %>&nbsp;
			<%= sortable "activa", "Estado" %>&nbsp;
			<%= sortable "created_at", "Creado en" %>
		</p>
	</div>
</div><br />
<div class="row-fluid">
	<div class="span12">

		<%= will_paginate %>
		<table class="table">

			<thead>
				<tr>
					<th>Comunidad</th>
					<th>Viviendas</th>
					<th>Usuarios</th>
					<th>Creado en</th>
					<th>Estado</th>
					<% if current_user.system_admin? %>
						<th></th>
					<% end %>
				</tr>
			</thead>
	
			<% @comunidads.each do |comunidad| %>
			<tr>
				<td>
					<strong>
						<%= link_to comunidad.nombre, seleccionar_comunidad_path(comunidad), :method => :put %>
					</strong> 
				</td>
				<td>
					<%= pluralize(comunidad.unidads.size, 'unidad', 'unidades') %>
				</td>
				<td>
					<%= pluralize(comunidad.usuarios.size, 'persona', 'personas') %>
				</td>
				<td>
					<%= l comunidad.created_at, format: :long %>
				</td>
				<td>
					<% if comunidad.activa? %>
						<span class="label label-success">Activa</span>
					<% else %>
						<span class="label label-important">No-activa</span>
					<% end %>
				</td>
				<% if current_user.system_admin? %>					
					<td>
						<div class="btn-group">
						  <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
						    <i class="icon-cog"></i>
						    <span class="caret"></span>
						  </a>
						  <ul class="dropdown-menu">
						    <li><%= link_to 'Editar', edit_comunidad_path(comunidad) %></li>
						    <% if comunidad.activa? %>
						    	<li><%= link_to 'Desactivar', desactivar_comunidad_path(comunidad), :method => :put %></li>
						    <% else %>
						    	<li><%= link_to 'Activar', activar_comunidad_path(comunidad), :method => :put %></li>
						    <% end %>
						    <li><%= link_to 'Eliminar', comunidad, confirm: 'Estas seguro de eliminar?', :method => :delete %></li>
						  </ul>
						</div>
					</td>	
				<% end %>
			</tr>
			<% end %>
		</table>
		<%= will_paginate %>
	</div>
</div>