<div class="row-fluid">
	<div class="span12">
		<span><h3><%= @comunidads.size %> <small>Comunidades</small> &nbsp;</h3></span>
	</div>	
</div><br />
<div class="row-fluid">
	<div class="span12">
		<strong>
			Ordenar las comunidades por
			<%= sortable "nombre" %>
		</strong>
	</div>
</div><br />
<div class="row-fluid">
	<div class="span12">

		<%= will_paginate %>
		<table class="table">

			<thead>
				<tr>
					<th>Comunidad</th>
					<th>Viviendas</th>
					<th>Usuarios</th>
					<th>Activa?</th>
					<% if current_user.system_admin? %>
						<th></th>
					<% end %>
				</tr>
			</thead>
	
			<% @comunidads.each do |comunidad| %>
			<tr>
				<td>
					<strong>
						<%= link_to comunidad.nombre, comunidad %>
					</strong> 
				</td>
				<td>
					<%= pluralize(comunidad.unidads.size, 'unidad', 'unidades') %>
				</td>
				<td>
					<%= pluralize(comunidad.usuarios.size, 'persona', 'personas') %>
				</td>
				<td>
					<% if comunidad.activa? %>
						<span class="label label-success">Activa</span>
					<% else %>
						<span class="label label-important">No-activa</span>
					<% end %>
				</td>
				<% if current_user.system_admin? %>					
					<td>
						<div class="btn-group">
						  <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
						    <i class="icon-cog"></i>
						    <span class="caret"></span>
						  </a>
						  <ul class="dropdown-menu">
						    <li><%= link_to 'Editar', edit_comunidad_path(comunidad) %></li>
						    <% if comunidad.activa? %>
						    	<li><%= link_to 'Desactivar', desactivar_comunidad_path(comunidad), :method => :put %></li>
						    <% else %>
						    	<li><%= link_to 'Activar', activar_comunidad_path(comunidad), :method => :put %></li>
						    <% end %>
						    <li><%= link_to 'Eliminar', comunidad, confirm: 'Estas seguro de eliminar?', :method => :delete %></li>
						  </ul>
						</div>
					</td>	
				<% end %>
			</tr>
			<% end %>
		</table>
		<%= will_paginate %>
	</div>
</div>