<div>
  <ul class="nav-list-m unstyled">
    <% if current_user.system_admin? %>
      <li class="menu-spacer">
        <span>
          <i class="icono16">
            <%= image_tag("icons/fatcow_icons/16x16/building_add.png", :alt => "Otras comunidades") %></i>&nbsp;
          <%= link_to 'Otras comunidades', comunidads_path %>
        </span>
      </li>
    <% end %>
  	<li class="menu-spacer">
      <span>
        <i class="icono16">
            <%= image_tag("icons/fatcow_icons/16x16/building.png", :alt => "#{@comunidad.nombre}") %></i>&nbsp;
        <%= link_to truncate(@comunidad.nombre, :length => 25), @comunidad %>
      </span>
    </li>
    <li class="menu-spacer">
      <span>
        <i class="icono16">
            <%= image_tag("icons/fatcow_icons/16x16/group.png", :alt => "Usuarios") %></i>&nbsp;
        <%= link_to 'Usuarios', comunidad_usuarios_path(@comunidad) %> 
        <small class="small-indicator">
          <%= pluralize(@comunidad.usuarios.size, "persona", "personas") %>
        </small>
      </span>
    </li>
    <li class="menu-spacer">
      <span>
        <i class="icono16">
            <%= image_tag("icons/fatcow_icons/16x16/house.png", :alt => "Viviendas") %></i>&nbsp;
        <%= link_to 'Viviendas', comunidad_unidads_path(@comunidad) %>
        <small class="small-indicator">
          <%= pluralize(@comunidad.unidads.size, "unidad", "unidades") %>
        </small>
      </span>
    </li>
  </ul>
</div>