<div>
  <ul class="nav-list-m unstyled">
    <% if current_user.system_admin? %>
      <li class="menu-spacer">
        <span>
          <i class="icon-search"></i>&nbsp;
          <%= link_to 'Otras comunidades', comunidads_path %>
        </span>
      </li>
    <% end %>
  	<li class="menu-spacer">
      <span>
        <i class="icon-cog"></i>&nbsp;
        <%= link_to 'Configurar comunidad', edit_comunidad_path(@comunidad) %>
      </span>
    </li>
    <li class="menu-spacer">
    	<span>
    		<i class="icon-user"></i>&nbsp;
    		<%= link_to 'Usuarios', comunidad_usuarios_path(@comunidad) %> 
    		<small class="small-indicator">
    			<%= pluralize(@comunidad.usuarios.size, "persona", "personas") %>
    		</small>
    	</span>
    </li>
    <li class="menu-spacer">
    	<span>
    		<i class="icon-th"></i>&nbsp;
    		<%= link_to 'Viviendas', comunidad_unidads_path(@comunidad) %>
    		<small class="small-indicator">
    			<%= pluralize(@comunidad.unidads.size, "unidad", "unidades") %>
    		</small>
    	</span>
    </li>
    <% if current_user.administrador?(current_comunidad) or current_user.system_admin? %>
        <li class="menu-spacer">
          <span>        
            <i class="icon-tags"></i>&nbsp;
            <%= link_to 'Tipos de unidad', comunidad_tipounidads_path(@comunidad) %>
            <small class="small-indicator">
              <%= pluralize(@comunidad.tipounidads.size, "tipo", "tipos") %>
          </small>
          </span>
        </li>    
    <% end %>
  </ul>
</div>