<% provide(:titulo, 'Editando comunidad')%>
<div class="page-header"><h1>Editando comunidad</h1></div>

<div class="row-fluid">
	<div class="span2"></div>
	<div class="span4">
		<%= form_for(@comunidad) do |f| %>

			<%= render 'shared/error_messages', object: f.object %>
			
			<%= f.label :nombre, "Nombre de Comunidad *" %><span class="muted">ej: Condominio Nuevo Universo</span>
			<%= f.text_field :nombre %>
			
			<%= f.label :direccion, "Direccion" %>
			<%= f.text_field :direccion %>

			<%= f.label :ciudad, "Ciudad" %>
			<%= f.text_field :ciudad %>
			
			<%= f.label :region, "Region" %>
			<%= f.text_field :region %>

			<%= f.label :pais, "Pais" %>
			<%= f.text_field :pais %>
			<div class="form-actions">
				<%= f.submit "Enviar", :class => "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
