<% provide(:titulo, 'Sign up')%>
<div class="row">
	<div class="span7 offset3">
		<div class="well">
			<div class="page-header center"><h1>Sign up</h1></div>
			<div class="row">
				<div class="span6">
					<%= form_for @comunidad, html: { class: "form-horizontal" } do |f| %>
						
						<%= render 'shared/error_messages', object: f.object %>

						<fieldset>
							<div class="control-group">
								<%= f.label :nombre_comunidad, "Nombre de Comunidad", class: "control-label" %>
								<div class="controls">
									<%= f.text_field :nombre, placeholder: "Mi comunidad" %>
								</div>
							</div>

							<div class="control-group">
				  				<%= label_tag 'email_administrador', "Email administrador", class: "control-label" %>
				  				<div class="controls">
					  				<%= text_field(:usuario, :email, placeholder: "mi@comunidad.com" ) %>			
					  			</div>
					  		</div>

					  		<div class="control-group">				
					  			<%= label_tag 'nombre_administrador', "Nombre administrador", class: "control-label" %>
					  			<div class="controls">
					  				<%= text_field(:usuario, :nombre, placeholder: "Nombre de administrador" ) %>
					  			</div>
					  		</div>

					  		<div class="control-group">
					  			<%= label_tag 'password', "Password administrador", class: "control-label" %>
					  			<div class="controls">
					  				<%= password_field(:usuario, :password) %>
					  			</div>
					  		</div>

					  		<div class="control-group">				  			
					  			<%= label_tag 'password_confirmation', "Confirmacion password", class: "control-label" %>
					  			<div class="controls">
					  				<%= password_field(:usuario, :password_confirmation) %>
					  			</div>
					  		</div>

					  		<div class="form-actions">
								<%= f.submit "Crear Comunidad", :class => "btn btn-large btn-primary" %>
							</div>
						</fieldset>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>