<% provide(:titulo, @comunidad.nombre)%>
<div class="row-fluid">
	<div class="span2">
		<%= render 'menu_lateral' %>
	</div>	
	<div class="span10">
		<div class="content-wrapper">
				<div class="page-header">				
					<h1><%= @comunidad.nombre %></h1>
					<% if @current_user.administrador? %>
						<%= link_to 'Editar', edit_comunidad_path(@comunidad) %>
					<% end %>
				</div>
				<div class="row">
					<div class="span2">
						<p><strong><%= link_to 'Usuarios', comunidad_usuarios_path(@comunidad) %></strong><br />
							<%= @comunidad.usuarios.size %></p>
					</div>
					<div class="span2">
						<p><strong><%= link_to 'Unidades', comunidad_unidads_path(@comunidad) %></strong><br />
							<%= @comunidad.unidads.size %></p>
					</div>
					<div class="span2">
						<p><strong><%= link_to 'Instalaciones', '#' %></strong><br />0</p>
					</div>
				</div><br />
				<div class="row">
					<div class="span10">
						<p>Administrador autorizado</p>
						<ul class="unstyled">
							<% @comunidad.usuarios.where(:administrador => true).each do |administrador| %>
							<li>
								<%= link_to administrador.email, administrador %>,
								<%= administrador.nombre %>
							</li>
							<% end %>
						</ul>
					</div>
				</div>
		</div>
  	</div>
</div>