<% provide(:titulo, @comunidad.nombre)%>
<div class="row-fluid">
	<div class="span2">
		<%= render 'menu_comunidad' %>
	</div>	
	<div class="span10">
		<div class="content-wrapper">
			<!-- informacion del perfil -->
			<%= render 'profile_header' %>
			<div class="row-fluid">
				<!-- columna de contenidos -->
				<div class="span9">
					<%= render 'notas' %>
				</div>
				<!-- columna de modulos right -->
				<div class="span3 right-module-col">
					<%= render 'show_module_col' %>
				</div>
			</div>	
			<div class="clear"></div>
		</div>
  	</div>
</div>
Comunidad activa? <%= @comunidad.activa? %>