<div class="navbar-inner">
	<div class="container">
		<%= link_to "Cloudapolis", root_path, id: "logo" %>	
			
		<nav>
			<ul class="nav pull-left">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Tour", '#' %></li>
				<li><%= link_to "Precios y planes", '#' %></li>
				<li><%= link_to "Contacto", '#' %></li>
				<li><%= link_to "Blog", '#' %></li>
				<li><%= link_to "Sign in", signin_path %></li>
			</ul>
		</nav>

		<div class="pull-right">
		<%= link_to "MagroCode", 'http://magrocode.com', id: "logo_magrocode", html: {class: "pull-right"} %></div>
	</div>
</div>