<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:titulo)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<% if signed_in? %>
<body class="body-app">
<% else %>
<body>
<% end %>
	<div id="wrap">
		<%= render 'layouts/header' %>
		<div id="main">

			<% if signed_in? %>
			<div class="container-fluid">
			<% else %>
			<div class="container">
			<% end %>
			
				<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>
			
				<%= yield %>	
				<%= debug(params) if Rails.env.development? %>
				<%= render 'layouts/footer' %>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div id="footer-bottom"></div>
</body>
</html>
